{% extends 'base/base.html' %}
{% load static %}

{% block content%}

    <div class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_1.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
          	<p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Candidates</span></p>
            <h1 class="mb-3 bread">Candidates</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-candidates ftco-candidates-2 bg-light">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<div class="team d-md-flex">
        			<div class="img" style="background-image: url('{% static 'images/person_1.jpg' %}');"></div>
        			<div class="text pl-md-4">
        				<span class="location mb-0">Western City, UK</span>
        				<h2>Danica Lewis</h2>
	        			<span class="position">Graduate</span>
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	        			<span class="seen">Last Activity 4 months ago</span>
	        			<p><a href="#" class="btn btn-primary">Shortlist</a></p>
        			</div>
        		</div>
    			</div>
    			<div class="col-md-6">
    				<div class="team d-md-flex">
        			<div class="img" style="background-image: url('{% static 'images/person_1.jpg' %}');"></div>
        			<div class="text pl-md-4">
        				<span class="location mb-0">Western City, UK</span>
        				<h2>Danica Lewis</h2>
	        			<span class="position">Graduate</span>
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	        			<span class="seen">Last Activity 4 months ago</span>
	        			<p><a href="#" class="btn btn-primary">Shortlist</a></p>
        			</div>
        		</div>
    			</div>
    			<div class="col-md-6">
    				<div class="team d-md-flex">
        			<div class="img" style="background-image: url('{% static 'images/person_1.jpg' %}');"></div>
        			<div class="text pl-md-4">
        				<span class="location mb-0">Western City, UK</span>
        				<h2>Danica Lewis</h2>
	        			<span class="position">Graduate</span>
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	        			<span class="seen">Last Activity 4 months ago</span>
	        			<p><a href="#" class="btn btn-primary">Shortlist</a></p>
        			</div>
        		</div>
    			</div>
    			<div class="col-md-6">
    				<div class="team d-md-flex">
        			<div class="img" style="background-image: url('{% static 'images/person_1.jpg' %}');"></div>
        			<div class="text pl-md-4">
        				<span class="location mb-0">Western City, UK</span>
        				<h2>Danica Lewis</h2>
	        			<span class="position">Graduate</span>
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	        			<span class="seen">Last Activity 4 months ago</span>
	        			<p><a href="#" class="btn btn-primary">Shortlist</a></p>
        			</div>
        		</div>
    			</div>
    			<div class="col-md-6">
    				<div class="team d-md-flex">
        			<div class="img" style="background-image: url('{% static 'images/person_1.jpg' %}');"></div>
        			<div class="text pl-md-4">
        				<span class="location mb-0">Western City, UK</span>
        				<h2>Danica Lewis</h2>
	        			<span class="position">Graduate</span>
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	        			<span class="seen">Last Activity 4 months ago</span>
	        			<p><a href="#" class="btn btn-primary">Shortlist</a></p>
        			</div>
        		</div>
    			</div>
    			<div class="col-md-6">
    				<div class="team d-md-flex">
        			<div class="img" style="background-image: url('{% static 'images/person_1.jpg' %}');"></div>
        			<div class="text pl-md-4">
        				<span class="location mb-0">Western City, UK</span>
        				<h2>Danica Lewis</h2>
	        			<span class="position">Graduate</span>
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	        			<span class="seen">Last Activity 4 months ago</span>
	        			<p><a href="#" class="btn btn-primary">Shortlist</a></p>
        			</div>
        		</div>
    			</div>
    		</div>
    		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
    	</div>
    </section>

		<section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              <h2>Subcribe to our Newsletter</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
              <div class="row d-flex justify-content-center mt-4 mb-4">
                <div class="col-md-12">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
